<html>
<head>
    <style>
        body{
            background-color: black;
        }
        p,li,h2{
            color: white
        }
    </style>
</head>
<body>
    <h1 style="color: white;" align="center">AGrin Legion</h1>
    <p>
        Your destination for AI based agri solutions!<br>The following are the functonialies we provide:
    </p>
    <h2>Plant Disease Prediction</h2>
    <span style="background-color: white;">http://127.0.0.1:5000/plantdisease/<span style="color: green;">{filePath}</span></span>
    <br>
    <span style="color: white;">
        Input file path of your image file of your crop and retrieve the disease description
        and the supplements needed for the disease as a response in  json format.
    </span>
</body>
</html>